.big.deactivated {
  display: none !important; /* because just hidden=true has lower priority than the rest of the CSS */
}

input.floating-control {
  position: absolute;
}

@media print {
  form.chooseText > label:has(> input:not(:checked)) {
    display: none;
  }

  form.chooseText > label > input {
    display: none;
  }

  .deactivated {
    display: none !important;
  }
}
